[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "mutualinf"]
	path = mutualinf
	url = https://github.com/rafaelfuentealbac/mutualinf
